header > h3 {
    display: block;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px 5px 0px 0px;
    color: gold;
}

body {
    background-color: black;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

header{
    text-align: center;
    display:block;
}

.ability {
    box-sizing: border-box;
    justify-content: center;
    align-content: center;
    display: flex;
    width: 100%;
}

.ability-name{
    color: aliceblue;
    margin-left: 2rem;
    box-sizing: border-box;
    width: 50%;
    height: auto;
    font-size: larger;
}

.ability-stars{
    margin-right: 2rem;
    margin-left: 2rem;
    box-sizing: border-box;
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
    width: 50%;
    height: auto;
    color: gold;
}

.app-container {
    background-color: rgba(255, 255, 255, 0.186);
    display: block;
    padding: 10px 10px 10px 10px;
    border: 1px solid black;
    border-radius: 0px 0px 5px 5px;

}

.menu {
    color: rgba(240, 248, 255, 0.539);
    display: flex;
    justify-content: space-evenly;
    width: 100%;

}
.menu > h5 {
    color: rgba(255, 217, 0, 0.693);
}

main {
    display: flex;
    flex-direction: column;

}